{% if not article.hidden or user_is_admin %}
<div class="post">
    <div class="postMeta">
        {% if article.num_comments %}
        <a href="/{{ article.permalink }}#comments"><span class="comments">{{ article.num_comments }}</span></a>
        {% endif %}
        <span class="date">
            {% if article.hidden %}
            Hidden
            {% endif %}
            {{ article.published.date }}
        </span>
    </div>
    <h2><a href="/{{ article.permalink }}" title="{{ article.title }}">{{ article.title }}</a></h2>
    <div class="entry">
        <p>{{ article.html }}</p>
    </div>
</div>
{% endif %}